.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 25px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f9f2f2;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #3b3a3a;
   
  }

  .products{list-style: none;
}